.editor-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    padding: 20px;
    margin: 40px 100px;
}

textarea {
    width: 100%;
    height: 400px;
    padding: 10px;
    font-family: monospace;
    border: 4px solid #ccc;
    border-radius: 4px;
    resize: none;
}

.CodeMirror {
    height: 400px;
    border: 2px solid #ccc;
    background-color: white;
}

#outputFrame {
    width: 100%;
    height: 400px;
    border: 2px solid #ccc;
}

.run, .chatbot {
    padding: 10px 20px;
    background-color: #1b3c83;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-top: 10px;
    flex: 1;
}

.run:hover, .chatbot:hover {
    background-color: #0056b3;
}

iframe {
    width: 100%;
    height: 400px;
    border: 3px solid #ccc;
    margin-top: 20px;
    background-color: white;
    border-radius: 4px;
}

.output-title {
    background-color: #1b3c83;
    color: white;
    padding: 10px;
    border-radius: 4px 4px 0 0;
    text-align: center;
}

.button-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (max-width: 1200px) {
    .editor-container {
        margin: 10px;
    }

    textarea {
        height: 300px;
        margin-bottom: 10px;
    }

    .run, .chatbot {
        width: 100%;
    }

    iframe {
        height: 300px;
        margin-top: 10px;
    }
}

@media (max-width: 576px) {
    textarea {
        height: 250px;
    }

    iframe {
        height: 250px;
        margin-top: 10px;
    }

    .button-container {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }

    .run, .chatbot {
        width: 48%;
        margin-bottom: 30px;
    }
}
