.container {
    width: 75%;
    margin: 50px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
}

.tutorial-header {
    display: flex;
    align-items: center;
}

.tutorial-image {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-right: 20px;
}

.tutorial-text h1 {
    font-size: 2rem;
    color: #000;
    margin-bottom: 10px;
    font-weight: bold;
}

.tutorial-text p {
    font-size: 1.1rem;
    color: #000;
}

hr {
    border: none;
    border-top: 1px solid #4c566a;
    margin: 20px 0;
}

.tutorial-list {
    margin-top: 10px;
}

.tutorial-item a {
    background-color: rgb(241, 245, 249);
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    color: #000;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    text-decoration: none;
}

.tutorial-item a .icon {
    margin-right: 10px;
    font-size: 1.2rem;
    color: #88c0d0;
}

.tutorial-item a:hover {
    background-color: #ececec;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .container {
        width: 100%; /* Lebar lebih lebar untuk layar kecil */
        padding: 15px; /* Mengurangi padding */
        display: flex; /* Tambahkan display flex */
        flex-direction: column; /* Mengubah arah flex menjadi kolom */
        align-items: center; /* Mengatur alignment ke tengah */
    }

    .tutorial-header {
        display: flex; /* Tambahkan display flex */
        flex-direction: column; /* Mengubah arah flex menjadi kolom */
        align-items: center; /* Mengatur alignment ke tengah */
        text-align: center; /* Menyelaraskan teks ke tengah */
    }

    .tutorial-image {
        width: 100%; /* Atur lebar gambar menjadi 80% dari kontainer */
        max-width: 150px; /* Batas maksimum lebar gambar */
        height: auto; /* Mengatur tinggi otomatis */
        margin-bottom: 15px;
    margin-right: 20px;

    }

    .tutorial-text h1 {
        font-size: 1.5rem; /* Mengurangi ukuran font */
    }

    .tutorial-text p {
        font-size: 1rem; /* Mengurangi ukuran font */
    }

    .tutorial-item a {
        font-size: 1rem; /* Mengurangi ukuran font */
        padding: 12px; /* Mengurangi padding */
    }
}


@media (max-width: 480px) {
    .tutorial-text h1 {
        font-size: 1.2rem; /* Ukuran font lebih kecil */
    }

    .tutorial-text p {
        font-size: 0.9rem; /* Ukuran font lebih kecil */
    }

    .tutorial-item a {
        font-size: 0.9rem; /* Ukuran font lebih kecil */
    }
}
