@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap');

body,h1, h2, h3, h4, h5, h6, span, p{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #f5f5f5;
}

.heading{
    font-size: 2rem;
    color: #1b3c83;
    margin: 50px 40px 0px 25px;
    text-align: center;
}

.heading2{
    font-size: 2rem;
    color: #1b3c83;
}

.section-video, .section-materi{
    padding: 0 20px;
}

.section-materi{
    margin-top: 3rem;
}

.text-primary{
    color: #064de7;
}

@media (max-width: 480px) {
    .heading{
        font-size: 1.5rem;
        margin-top: 5rem;
    }
}

@media (max-width: 1220px) {
    .heading{
        margin-top: 5rem;
    }
}

@media (max-width: 1320px) {
    .heading{
        text-align: center;
    }
}
